<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="brand-badge"><i class="fa-solid fa-compass"></i></span>
      <span class="brand-text"><span class="brand-name">homely</span><small>homely private limited</small></span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">Homes</a>
        <a class="nav-link nav-cta" href="/listings/new">Create Listing</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){%>
          <a class="nav-link nav-ghost" href="/signup">Join</a>
          <a class="nav-link" href="/login">Login</a>
        <%}%>
        
        <% if(currUser){ %>
          <a class="nav-link nav-ghost" href="/logout">Logout</a>
        <%} %>
      </div>
    </div>
  </div>
</nav>
