
<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    Something went wrong.

    <% if (typeof message !== "undefined" && message) { %>
      <div class="mt-2"><%= message %></div>
    <% } %>

    
  </div>
</div>










